In [1]:
import networkx as nx
import pandas as pd
import numpy as np

In [2]:
rng = np.random.RandomState(seed=5)
ints = rng.randint(1, 11, size=(3, 2))

a = ["A", "B", "C"]
b = ["D", "A", "E"]

df = pd.DataFrame(ints, columns=["weight", "cost"])
df

   weight  cost
0       4     7
1       7     1
2      10     9

In [3]:
df[0] = a
df

   weight  cost  0
0       4     7  A
1       7     1  B
2      10     9  C

In [4]:
df["b"] = b
df

   weight  cost  0  b
0       4     7  A  D
1       7     1  B  A
2      10     9  C  E

In [5]:
df[["weight", "cost", 0, "b"]]

   weight  cost  0  b
0       4     7  A  D
1       7     1  B  A
2      10     9  C  E

```
def from_pandas_edgelist(
    df,
    source="source",
    target="target",
    edge_attr=None,
    create_using=None,
    edge_key=None,
):
```

In [6]:
G = nx.from_pandas_edgelist(df, source=0, target="b", edge_attr=["weight", "cost"])
G

In [7]:
nx.density(G)

0.3

In [8]:
results = nx.degree_centrality(G)

for node_id, rank in sorted(results.items(), key=lambda item: item[1], reverse=True):
    print(node_id, rank)

A 0.5
D 0.25
B 0.25
C 0.25
E 0.25

In [9]:
results = nx.pagerank(G)

for node_id, rank in sorted(results.items(), key=lambda item: item[1], reverse=True):
    print(node_id, rank)

A 0.29189083847084046
C 0.2
E 0.2
B 0.18788764824582876
D 0.12022151328333072